click==6.6
colorama==0.3.7
cubes==1.1
cycler==0.10.0
dask==0.10.0
decorator==4.0.10
Django==1.9.7
expressions==0.2.3
Flask==0.11.1
grako==3.9.3
httpie==0.9.3
ipython==4.2.1
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.5.1
mpmath==0.19
networkx==1.11
numpy==1.11.1+mkl
pandas==0.18.1
pickleshare==0.7.2
Pillow==3.3.0
Pygments==2.1.3
pylab==0.1.3
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.4
pyzmq==15.2.0
requests==2.10.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.18.0rc1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
SQLAlchemy==1.0.14
sympy==1.0
toolz==0.8.0
tornado==4.3
traitlets==4.2.2
virtualenv==15.0.2
Werkzeug==0.11.10
